<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <h2>Bienvenido, {{username}} ({{role}})</h2>
    <p>
        <a href="{{url_for('logout')}}">Cerrar Sesión</a>
    </p>
    <h3>Acciones disponibles:</h3>
    <ul>
        <li><a href="{{url_for('buscar')}}">Buscar información</a></li>
        {% if role in ['admin', 'editor'] %}
            <li><a href="{{url_for('insertar_datos')}}">Insertar Datos</a></li>
        {% endif %}
        {% if role == 'admin' %}
            <li><a href="{{url_for('admin')}}">Modificar la DB</a></li>
            <li><a href="{{url_for('historial')}}">Ver historial de cambios</a></li>
        {% endif %}
    </ul>
</body>
</html>